# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Cache
.cache/
.parcel-cache/
.vite/

# TypeScript
*.tsbuildinfo
